body {
    background-color: rgba(22, 0, 192, 0.685);
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 600px;
    width: 400px;
    border-radius: 25px;
    background-color: white;
}

.container h1 {
    text-align: start;
    color: blue;
    padding-left: 10px;
}


.container button {
    position: absolute;
    left: 140px;
    color: white;
    background-color: blue;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

.container img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 200px;
    width: 200px;
    margin-top: 20px;
}

.container h2 {
    text-align: center;
    color: black;
}

.container h3 {
    text-align: center;
    color: black;
}

.temp {
    margin-top: 80px;
}

img {
    padding-top: 200px;
}

label {
    display: inline;
    margin-left: 50px;
}

input {
    display: inline;
}